<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Forbidden</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body class="page-404">
    <div class="container-404">
        <div class="oops">403 Forbidden</div>
        <br>
        <div class="message">403 - You don't have permission to access this page.</div>
        <br>
        <div class="message">Please check your credentials or contact the administrator if you believe this is an error.</div>
        <div class="home-button-404">
            <a href="/home">GO TO HOMEPAGE</a>
        </div>
    </div>
</body>
</html>
