<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body class="page-404">
    <div class="container-404">
        <div class="oops">404 Oops!</div>
        <br>
        <div class="message">404 - Page Not Found</div>
        <br>
        <div class="message">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</div>
        <div class="home-button-404">
            <a href="/home">GO TO HOMEPAGE</a>
        </div>
    </div>
</body>
</html>
