<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Method Not Allowed</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body class="page-404">
    <div class="container-404">
        <div class="oops">405 Oops!</div>
        <br>
        <div class="message">405 - Method Not Allowed</div>
        <br>
        <div class="message">The method you used is not allowed for this page.</div>
        <div class="home-button-404">
            <a href="/home">GO TO HOMEPAGE</a>
        </div>
    </div>
</body>
</html>
