<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Page Not Found</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body class="page-404">
    <div class="container-404">
        <div class="oops">500 Oops!</div>
        <br>
        <div class="message">500 - Internal Server error</div>
        <br>
        <div class="message">The server encountered an internal error and was unable to complete your request.</div>
        <div class="home-button-404">
            <a href="/home">GO TO HOMEPAGE</a>
        </div>
    </div>
</body>
</html>
